.image-content form {
    margin-top: 8px;
}
.image-content img {
    max-height: 300px;
    margin-top: 8px;
}

.image-content button {

}

.image-content span.username {
    color: black;
}

.image-content span.posted-time {
    color: gray;
    float: right;
}