{% extends 'base.html'  %}

{% block content %}
<h1>Olá, {{ session['username'] }}</h1>

<form action="{{ url_for('user_feed') }}" method="POST" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="datetime-local"  name="startdate">
    <input class="form-control mr-sm-2" type="datetime-local"  name="finaldate">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtrar</button>
</form>

<form class="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <p><input class="form-control mr-sm-2" type="file" name="file"></p>
        </div>
        <div class="col-sm-6">
            <p><input class="form-control mr-sm-2" type="text" name="legend" placeholder="Legenda"></p>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Postar Foto</button>
</form>

    {% if filtered_posts %}
    posts = filtered_posts
    {% endif %}

    {% if posts %}
         <div class="container">
            {%  for post in posts | reverse %}
                {%  if loop.index0 %3 == 0 %}
                    <div class="row">
                {%  endif %}
                    <div class="image-content">
                        <div class="col-sm-4">
                            <a href="{{ url_for('profile', username=post.user) }}"><span class="username">@{{ post.user }}</span></a>
                            <img src="https://s3.us-east-2.amazonaws.com/toilter-s3-teste/{{ post.image }}" height="100%" width="100%">
                            <form action="{{ url_for('like', user=session['username'], post_id=post.id) }}">
                                <button type="submit">Like</button>
                                <span class="likes">{{ post.get_likes() | length }} Likes </span>
                                <span class="posted-time">{{ post.datetime  | datetimeformat }}</span>
                            </form>
                            <p class="legend">
                                {{ post.text }}
                            </p>
                        </div>
                    </div>
                {%  if loop.index %3 == 0 %}
                    </div>
                {%  endif %}
            {%  endfor %}
        </div>
    {% endif %}
{% endblock %}