<div class="col-sm-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Foto de Perfil</th>
                          <th scope="col">Nome</th>
                          <th scope="col">Usuário</th>
                          <th scope="col">Publicações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <th scope="row"><img src="https://s3.us-east-2.amazonaws.com/toilter-s3-teste/{{ user.profile_picture }}" height="100px" width="auto"></th>
                            <th scope="row">{{ user.name }}</th>
                            <th scope="row">{{ user.nick }}</th>
                            <th scope="row">{{ user.get_posts() | length }}</th>
                        </tr>
                      </tbody>
                    </table>
                </div>