{%  for key, coluna in colunas.items() %}
        {%  for post in coluna %}
             <div class="post-content">
                {%  if  loop.index %3 == 0 %}
                    <div class="row">
                {% endif %}
                    <div class="col-sm-4">
                        <div class="image-box" style="max-height: 250px; max-width: 250px">
                            <img src="https://s3.us-east-2.amazonaws.com/toilter-s3-teste/{{ post.image }}" height="100%" width="100%">
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">{{ post.text }}
                            </div>
                        </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <form action="{{ url_for('like', user=session['username'], post_id=post.id) }}">
                                      <button type="submit">Like</button>
                                    </form>
                                </div>
                                <div class="col-4">
                                    {{ post.get_likes() | length }} Likes
                                </div>
                            </div>
                        </div>
                    </div>
                {%  if  loop.index %3 == 0 %}
                    </div>
                {% endif %}
                </div>
        {%  endfor %}
    {%  endfor %}
