{% extends 'base.html'  %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Instagrom</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/feed">Feed</a></li>
          </li>
          <li><a href="{{ url_for('update_profile', username=session['username']) }}">Atualizar Perfil</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('search') }}"><span class="glyphicon glyphicon-search"></span> Pesquisar</a></li>
            {% if session['username']  %}
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {%  else %}
                <li><a href="{{ url_for('new_account') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {%  endif %}
        </ul>
      </div>
    </nav>
{%  endblock %}


{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h2>Atualizar Informações</h2>
        <form action="{{ url_for('update_profile_info', username=session['username']) }}" enctype="multipart/form-data" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="">Name</label>
                {{ form.name(class="form-control",placeholder="Digite seu nome") }}
            </div>
            <div class="form-group">
                <label for="">E-mail</label>
                {{ form.email(class="form-control",placeholder="Digite seu e-mail") }}
            </div>
            <div class="form-group">
                <label for="">Password</label>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="">Password Check</label>
                {{ form.pass_check(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="">Foto de Perfil</label>
                <input class="form-control mr-sm-2" type="file" name="file">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

{% endblock %}
